{% extends 'base.html' %}
 


{% block content %}

<form action="" method="post">
    {% csrf_token %}
   
    <!--List of selected learners-->
    <div class="container p-5 my-5 border  bg-dark text-white">
        <label for="absentLearners" class="form-label">Absentees:</label>

        {% for learner in selected_learners %}
            
            <div class="list-group" id="absentLearners">
                <li class="list-group-item list-group-item-action selector" id="{{learner}}"
                onclick="myFunction('{{learner}}')">
      
                <div class="row">
                    <div class="col-md-2" >{{learner}}</div>
                </div>
                
                </li>               
            </div>
        {% endfor %}
        <input type="hidden" name="selected_learner" id="selected_learner" value="">
        {% if selected_learners|length > 0 %}
            <label for="btnSubmit" class="form-label mt-3">Click to submit class absentees:</label>
            <br/>
            <button type="submit" class="btn btn-success " name="btnSubmit" value="submit"
            >Submit Absentees</button>
        {% endif %}

    </div>

    <!--Learner Select-->
    <div class="container p-5 my-5 bg-secondary text-white">
        <label for="learner" class="form-label">Choose a learner from the list:</label>
        <input class="form-control" list="learners" name="learner" id="learner" 
                placeholder="Type to search...">
        <input type="hidden" id="sel_learner" name="sel_learner" value="">
        <datalist id="learners">
            {% for learner in learners %}
                <option value="{{learner}}  {{learner.grade}}" 
                onclick="selectLearner('{{learner.id}}')">
            {% endfor %}
        </datalist>
        
        <button type="submit" class="btn btn-warning mt-3" value="addabsentee", name="btnAddAbsentee">Add Absentee</button>
        
    </div>


</form>

<script>
    function myFunction(learner) {
        var x = document.getElementById("selected_learner");
        x.value = learner;
        document.forms[0].submit();   
    }


</script>



{% endblock %}